body {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Noto Sans TC', sans-serif;
text-transform: none;
}

.subheading{
  font-family: 'Noto sans TC' ,sans-serif;
  text-transform: none;
  
}

.expedu_icon {
    color: #000000;
}

.expedu_icon:hover {
    background-color: #000000;
    color:#ffff99
}

:root {
  --bs-primary: #FFDC35;
  --bs-primary-rgb:225,220,53;
  --bs-secondary: #FF9224;
  --bs-secondary-rgb: 255,146,36;
}

.expedu_icon:hover {
  color:var(--bs-secondary);
}

a {
  color:var(--bs-primary);
}

.social-icons .social-icon:hover {
    background-color:var(--bs-secondary);
}

table {width: 80%;}

<style>
.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}
</style>


