body {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Noto Sans TC', sans-serif;
text-transform: none;
}

.subheading{
  font-family: 'Noto sans TC' ,sans-serif;
  text-transform: none;
  
}

.expedu_icon {
    color: #000000;
}

.expedu_icon:hover {
    background-color: #000000;
    color:#ffff99
}
